<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FaceDetection</title>
    <link rel="stylesheet" href="/WebApp/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/WebApp/static/css/style.css" />
    <script src="/WebApp/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="text-center"><strong>Face Detection</strong></h1>
            <p class="text-center">Upload images to let our machine find faces for you</p>
        </div>
    </div>
    {% include partial with image=data %}
</body>
</html>